PORT=3000
JWT_SECRET=your_jwt_secret_here
JWT_EXPIRES_IN=1d
LOG_LEVEL=debug
NODE_ENV=development
BACKUP_PATH=./database/backups

DB_HOST=localhost
DB_PORT=3306
DB_USER=root
DB_PASSWORD=
DB_NAME=nexus_business_manager
